@(vapp: Vapp)

<!-- Layout used to display swarm agents containers -->
@displayContainer(container : Container) = {

    <tr class="@if(container.active){success}else{danger}">
        <td>@container.id</td>
        <td>@container.name</td>
        <td>@container.image</td>
        <td>@container.ports.mkString(", ")</td>
        <td><a class="btn btn-@if(container.active){danger}else{success}"
            href="@if(container.active){@routes.ContainersController.stop(container.id)}else{@routes.ContainersController.start(container.id)}">
            @if(container.active){stop}else{start}
            </a>
            @if(!container.active){
            <a class="btn btn-danger" href="@routes.ContainersController.delete(container.id)">X</a>
            }
        </td>
    </tr>
    
}


<!-- Layout used to display swarm agents informations -->
@displayVm(vm : Vm) = {
    <div class="panel panel-@if(vm.active){success}else{danger}">
    <div class="panel-heading">@vm.name (@vm.id) @if(vm.name!="mh-keystore" && vm.name!="swarm-master" && vm.name!="Template"){<a href="#" ng-if="!deleteVM.value" ng-click="socket('deleteVM',{ vm_id : '@vm.id'},deleteVM)"> <input class="btn btn-danger" type="button" value="Delete VM"/>  </a>}</div>
	<div class="panel-body">
	    <ul>
	    <li>Ip locale : @vm.ipLocal</li>
	    <li>Ip externe : @vm.ipExternal</li>
	    
	    </ul>
	    @if(!vm.containers.filter(container => !container.image.contains("swarm")).isEmpty){    
	    <table class="table">
	        <tr><th>Id</th><th>Name</th><th>Image</th><th>Ports</th><th>Action</th></tr>
	        @vm.containers.filter(container => !container.image.contains("swarm")).map(displayContainer)
	    </table>
	    }
	</div>
    </div>
}

<!-- General layout for the user interface-->
@main("Dashboad Docker Orchestrator VMWare") {
    
    <div class="alert alert-{{alert.type}}" role="alert" ng-if="alert.active">
    <button type="button" class="close" ng-if="alert.type!='info'" ng-click="alert.active = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="fa fa-spinner fa-spin" ng-if="alert.type=='info'"></span>{{alert.text}}
    <span ng-if="alert.type=='success'"><br />Please <a href="" ng-click="reload();">reload the page</a> to see changes</span>
    </div>
    
    
    <h1>Vapp - #@vapp.id - last id : @vapp.indice <button ng-click="socket('copieVM','start',copyingVM)" class="btn btn-success" ng-if="!copyingVM.value">Add a VM</button></h1>
    
    <div class="panel panel-default">
        <div class="panel-heading">Deploy Docker container</div>
	    <div class="form-inline panel-body" >
		    <div class="form-group"><input class="form-control" ng-model="container.image" name="image" placeholder="Image name"/></div>
			<div class="form-group">
			    <input class="form-control" ng-model="bind" placeholder="Port to bind" type="number" ng-keyup="$event.which == 13? addPort() : ''"/>
			    <button class="btn btn-default" ng-click="addPort()">Bind Port</button>
			</div><br ng-if="container.ports.length"/>
			<div class="form-group" style="padding-left:50px;">
			    <div ng-repeat="(i,port) in container.ports">
			    {{port['in']}} -> <input class="form-control" type="number" ng-model="port.out" />
			    <select class="form-control" ng-model="port.protocol" ng-options="o as o for o in ['tcp','udp']">
			    </select>
			    <i class="fa fa-trash" ng-click="container.ports.splice(i,1)"></i>
			    </div>
			</div><br  />
		    <button class="btn btn-success" ng-click="socket('container/create',container,creatingContainer)" ng-if="!creatingContainer.value">Create container</button>
	    </div>
    </div>
    @vapp.vms.map(displayVm)
}
