@(vapp: Vapp)


@displayContainer(container : Container) = {
    
    <tr><td>@container.id</td><td>@container.name</td><td>@container.image</td><td>@container.ports.mkString(", ")</td></tr>
    
}

@displayVm(vm : Vm) = {
    <fieldset style="border-color:@if(vm.active){green}else{red}">
    <legend>@vm.name (@vm.id)</legend>
    <ul>
    <li>Ip locale : @vm.ipLocal</li>
    <li>Ip externe : @vm.ipExternal</li>
    </ul>    
    <table>
        <tr><th>Id</th><th>Name</th><th>Image</th><th>Ports</th></tr>
        @vm.containers.map(displayContainer)
    </table>
    </fieldset>
}

@main("Dashboad Docker Orchestrator VMWare") {
    
    <h1>Vapp - #@vapp.id - last id : @vapp.indice</h1>

    @vapp.vms.map(displayVm)
}
